:root {
  --page-bg: #eee7be;
  --primary: #173f5f;
  --button-bg: #20639b;
  --error: #ed553b;
  --secondary: #3caea3;
  --dark-text: #444;
  --light-text: #fff;
}

body {
  background: var(--page-bg);
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

header {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

header a.btn {
  width: 9rem;
}

.btn {
  background: var(--button-bg);
  color: var(--light-text);
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  transition: all 0.4s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:first-child {
  margin-left: 0;
}

a.btn {
  text-decoration: none;
  background-color: var(--primary);
}

.btn-delete {
  background: var(--error);
  color: white;
}

.btn > svg:first-child {
  margin-right: 0.4rem;
}

.btn > svg:last-child {
  margin-left: 0.4rem;
}

.btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.btn-header {
  background: var(--primary);
  border: 1px solid var(--button-bg);
}

.btn-header:hover {
  border-color: var(--light-text);
}

main {
  margin: 40px auto;
  display: grid;
}

.bookings-page {
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 20px;
  margin: 40px 20px;
}

.bookables-page,
.users-page {
  max-width: 70em;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
}


.items-list-nav {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  width: 100%;
}

.items-list-nav > li {
  margin: 0 0 1rem;
  padding: 0;
}

.items-list-nav .btn {
  width: 100%;
  background: var(--light-text);
  color: var(--dark-text);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.items-list-nav a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
}

.items-list-nav .btn:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
}

.items-list-nav .selected .btn {
  background: var(--primary);
  color: var(--light-text);
}

.item {
  background: var(--secondary);
  color: var(--light-text);
  padding: 2rem;
  text-align: left;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  border-bottom: 8px solid white;
  margin: -2rem -2rem 1rem;
  padding: 0 1rem;
}

.item-header .controls {
  font-weight: normal;
}

.item h3 {
  border-bottom: 1px solid white;
  margin: 1em 0 0.5em;
  padding-bottom: 3px;
}

.bookable-availability {
  display: flex;
  padding: 0 1em;
}

.bookable-availability ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 40%;
}

.bookable-availability li {
  margin: 0.4em 0;
}

.item-details .bookable-availability ul {
  list-style: square;
}