:root {
  --page-bg: #eee7be;
  --primary: #173f5f;
  --button-bg: #20639b;
  --error: #ed553b;
  --secondary: #3caea3;
  --dark-text: #444;
  --light-text: #fff;
}

body {
  background: var(--page-bg);
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

header {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header li {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

header a.btn {
  width: 9rem;
}

.btn {
  background: var(--button-bg);
  color: var(--light-text);
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  transition: all 0.4s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:first-child {
  margin-left: 0;
}

a.btn {
  text-decoration: none;
  background-color: var(--primary);
}

.btn-delete {
  background: var(--error);
  color: white;
  margin-bottom: 0.5em;
}

.btn > svg:first-child {
  margin-right: 0.4rem;
}

.btn > svg:last-child {
  margin-left: 0.4rem;
}

.btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.btn-header {
  background: var(--primary);
  border: 1px solid var(--button-bg);
}

.btn-header:hover {
  border-color: var(--light-text);
}

main {
  margin: 40px auto;
  display: grid;
}

.bookings-page {
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 20px;
  margin: 40px 20px;
}

.bookables-page,
.users-page {
  max-width: 70em;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
}


.items-list-nav {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  width: 100%;
}

.items-list-nav > li {
  margin: 0 0 1rem;
  padding: 0;
}

.items-list-nav .btn {
  width: 100%;
  background: var(--light-text);
  color: var(--dark-text);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.items-list-nav a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
}

.items-list-nav .btn:hover {
  cursor: pointer;
  border: 1px solid var(--primary);
}

.items-list-nav .selected .btn {
  background: var(--primary);
  color: var(--light-text);
}

.item {
  background: var(--secondary);
  color: var(--light-text);
  padding: 2rem;
  text-align: left;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  border-bottom: 8px solid white;
  margin: -2rem -2rem 1rem;
  padding: 0 1rem;
}

.item-header .controls {
  font-weight: normal;
}

.item h3 {
  border-bottom: 1px solid white;
  margin: 1em 0 0.5em;
  padding-bottom: 3px;
}

.bookable-availability {
  display: flex;
  padding: 0 1em;
}

.bookable-availability ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 40%;
}

.bookable-availability li {
  margin: 0.4em 0;
}

.item-details .bookable-availability ul {
  list-style: square;
}

.date-picker {
  display: flex;
  margin: 0 0 1em;
  justify-content: space-between;
  align-items: center;
}

.date-picker > span {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-picker input {
  width: 8rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid silver;
  font-size: 100%;
  text-align: center;
}

.date-picker button {
  width: 8rem;
}

.date-picker button.go {
  width: auto;
  height: 100%;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.page-loading {
  font-size: 300%;
}

.icon-loading {
  animation: spin 1.5s linear infinite;
}

header .icon-loading {
  color: white;
}


.item-form {
  width:100%;
}

.item-form input[type=text] {
  padding:0.5em 1em;
  border-radius:1em;
  border:none;
  font-size:100%;
}

.item-form textarea {
  font-size: 100%;
  padding:0.5em 1em;
  width:80%;
  max-width:60em;
  margin-bottom: 1em;
}

.item-form label.field {
  display: block;
  margin:1em 0 3px;
}


.bookings {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 20px;
}
.bookingsError {
  background: var(--error);
  color: var(--page-bg);
  padding: 1em;
  margin:0;
}
.bookingsGrid {
  width: 100%;
  border-collapse: collapse;
}
.bookingsGrid th,
.bookingsGrid td {
  padding:0.5em;
  border:1px solid var(--page-bg);
  height:5em;
}
.bookingsGrid th {
  background: var(--primary);
  color:var(--light-text);
}
.bookingsGrid td {
  background:var(--light-text);
  transition: opacity 0.4s ease;
  opacity: 0.5;
}
.bookingsGrid.active td {
  color:var(--dark-text);
  opacity: 1;
}
.bookingsGrid thead th {
  border-top:none;
  border-bottom:none;
}
.bookingsGrid th:first-child,
.bookingsGrid th:last-child {
  border-left:none;
  border-right:none;
}
.bookingsGrid.active td:hover {
  cursor: pointer;
  background:#eee;
}
.bookingsGrid.active .selected {
  background: var(--secondary);
  color:var(--light-text);
}
.bookingsGrid.active td.selected:hover {
  background: var(--secondary);
  color: var(--primary);
}
.bookingsGrid .status {
  font-size: 200%;
}
.booking-details .icon-loading {
  font-size: 100%;
  margin-right: 0.5em;
}
.grid-wrapper {
  position: relative;
  width: 100%;
  min-height: 600px;
  overflow:auto;
}

.grid {
  position: absolute;
  width: 100%;
}

.status {
  transition: opacity 300ms;
  transition-delay: 100ms;
  opacity: 1;
}

.active .status {
  opacity: 0;
}

.booking-details {
  text-align: left;
}
.booking-details h2 {
  background:var(--primary);
  margin:0;
  padding:0 0.5em 0 1em;
  font-size:100%;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:4em;
}
.booking-details h2 .controls {
  font-weight: normal;
  margin:0;
  padding:0;
}
.booking-details h2 .btn {
  background: var(--primary);
  border: 1px solid var(--button-bg);
  padding: 0.6em 0.5em 0.6em 0.6em;
}
.booking-details h2 .btn:hover {
  border-color:white;
}
.booking-details h2 .btn > svg {
  margin:0;
}
.booking-details p {
  padding:0;
  margin:0;
}
.booking-details-fields {
  padding:1em 1em 2em;
  margin-bottom: 1em;
  background: var(--secondary);
  color:#fff;
  width:auto;
}
.booking-details-fields label {
  display: block;
  margin:1em 0 0.2em;
  padding:0;
  font-weight: bold;
}
.booking-details > .controls {
  margin-top:1em;
  text-align: center;
}
.booking-details-fields .btn {
  padding-left: 1em;
  padding-right: 1em;
}

.placeholder {
  background:#eee;
  padding:2rem;
}


.bookables-form {
  max-width: 70em;
  margin:1em auto;
}


.bookables-form .controls {
  text-align: right;
}

.bookables-form .controls-alt {
  float: left;
}

.user {
  position: relative;
  padding-left: 170px;
  transition: opacity 300ms ease-in;
}
.user .item-header {
  padding-left: 170px;
  margin-left: -170px;
}
.user img {
  border: 8px solid white;
  border-radius: 50%;
  position: absolute;
  top:1em;
  left:1em;
  background: white;
  width:120px;
  height:120px;
}

.user-pending {
  opacity: 0.6;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.users .icon-loading {
  opacity: 0;
  font-size: 80%;
  margin: 0 1em;
}

.users .selected .icon-loading {
  animation: fadein 800ms forwards 300ms, spin 1.5s infinite;
}

.user-bookings {
  margin: 1.5rem 1rem 1rem -1px;
}
.user-bookings table {
  width:100%;
}
.user-bookings th {
  background: var(--primary);
  color: var(--light-text);
  width:25%;
  padding:8px;
}
.user-bookings td {
  border-bottom: 1px dotted silver;
  padding:8px;
  background: var(--light-text);
  color: var(--dark-text);
  width:25%;
}
.user-bookings a {
  display: block;
  text-decoration: none;
}
.user-bookings a:hover {
  text-decoration: underline;
}